.row
  = render 'shared/back_button', link: books_path
  .clearfix
  = render 'shared/flash_notice' if notice
  .col-md-3.book-cover-lg
    %p.text-center
      = book_cover(h(@book.title), @book.amazon_id)
    - if user_signed_in? && current_user.admin?
      .pull-left
        = link_to 'Edit', edit_book_path(@book), class: 'btn btn-md btn-warning book-edit-link'
      .pull-right
        = button_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure ?' }, class: 'btn btn-md btn-danger book-delete-link'
  .col-md-7.book-info-block
    %h1= h(@book.title)
    %p
      %strong
        by #{h(@book.author)}
    %p
      %span ISBN-10:
      = @book.isbn
    %p
      %span Published:
      = format_pub_date(@book.pub_date)
    %p= sanitize @book.description, tags: %w(p h5 ul li)
  .col-md-2.book-price-block
    %p.text-center.price-box= number_to_currency(@book.price)
    = render 'add_to_cart', book: @book
.row
  #reviews.col-md-10.col-md-offset-1
    - if @reviews.any?
      %hr/
      %h4.text-center Customer reviews
      = render @reviews
    = render 'reviews/form' if user_signed_in?